h1 CONNECTE-TOI

form(method="post")
    input(type="email", name="username", placeholder="email")
    input(type="password", name="password", placeholder="password")
    button(type="submit") Log in

    a(href="/new") inscription