h1 INSCRIVEZ-VOUS

form(method="post")
    input(type="email", name="username", placeholder="email")
    input(type="pseudo", name="pseudo", placeholder="pseudo")
    input(type="password", name="password", placeholder="password")
    button(type="submit") VALIDER